@font-face {
  font-family: "clfont"; /* Project id 3829018 */
  src: url('iconfont.woff2?t=1671167791058') format('woff2'),
       url('iconfont.woff?t=1671167791058') format('woff'),
       url('iconfont.ttf?t=1671167791058') format('truetype');
}

.clfont {
  font-family: "clfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-star:before {
  content: "\e659";
}

.cl-preview-close-one:before {
  content: "\e65a";
}

.cl-pause-one:before {
  content: "\e65b";
}

.cl-preview-close:before {
  content: "\e65c";
}

.cl-camera:before {
  content: "\e65d";
}

.cl-file-zip:before {
  content: "\e65e";
}

.cl-menu-unfold:before {
  content: "\e65f";
}

.cl-preview-open:before {
  content: "\e660";
}

.cl-attention:before {
  content: "\e661";
}

.cl-pic:before {
  content: "\e662";
}

.cl-pause:before {
  content: "\e663";
}

.cl-info:before {
  content: "\e664";
}

.cl-add-one:before {
  content: "\e665";
}

.cl-down:before {
  content: "\e666";
}

.cl-editor:before {
  content: "\e617";
}

.cl-file-ppt:before {
  content: "\e618";
}

.cl-play:before {
  content: "\e619";
}

.cl-play-one:before {
  content: "\e61a";
}

.cl-dislike:before {
  content: "\e61b";
}

.cl-code:before {
  content: "\e61c";
}

.cl-folder-code:before {
  content: "\e61d";
}

.cl-printer:before {
  content: "\e61e";
}

.cl-two-dimensional-code-two:before {
  content: "\e61f";
}

.cl-close:before {
  content: "\e620";
}

.cl-more-one:before {
  content: "\e621";
}

.cl-file-code:before {
  content: "\e622";
}

.cl-workbench:before {
  content: "\e623";
}

.cl-more:before {
  content: "\e624";
}

.cl-share:before {
  content: "\e625";
}

.cl-plus:before {
  content: "\e626";
}

.cl-damage-map:before {
  content: "\e627";
}

.cl-more-two:before {
  content: "\e628";
}

.cl-arrow-down:before {
  content: "\e629";
}

.cl-shopping:before {
  content: "\e62a";
}

.cl-plan:before {
  content: "\e62b";
}

.cl-topic-discussion:before {
  content: "\e62c";
}

.cl-close-remind:before {
  content: "\e62d";
}

.cl-unlink:before {
  content: "\e62e";
}

.cl-topic:before {
  content: "\e62f";
}

.cl-link:before {
  content: "\e630";
}

.cl-to-bottom:before {
  content: "\e631";
}

.cl-tag-one:before {
  content: "\e632";
}

.cl-to-top:before {
  content: "\e633";
}

.cl-switch:before {
  content: "\e634";
}

.cl-loading-one:before {
  content: "\e635";
}

.cl-wallet:before {
  content: "\e636";
}

.cl-alarm:before {
  content: "\e637";
}

.cl-scan-code:before {
  content: "\e638";
}

.cl-permissions:before {
  content: "\e639";
}

.cl-full-screen-play:before {
  content: "\e63a";
}

.cl-full-screen-one:before {
  content: "\e63b";
}

.cl-calendar:before {
  content: "\e63c";
}

.cl-all-application:before {
  content: "\e63d";
}

.cl-menu-fold:before {
  content: "\e63e";
}

.cl-upload-one:before {
  content: "\e63f";
}

.cl-delete-two:before {
  content: "\e640";
}

.cl-transfer-data:before {
  content: "\e641";
}

.cl-bookmark:before {
  content: "\e642";
}

.cl-power:before {
  content: "\e643";
}

.cl-time:before {
  content: "\e644";
}

.cl-preview-close-one-copy:before {
  content: "\e667";
}

.cl-upload:before {
  content: "\e645";
}

.cl-home:before {
  content: "\e646";
}

.cl-refresh:before {
  content: "\e647";
}

.cl-search:before {
  content: "\e648";
}

.cl-remind:before {
  content: "\e649";
}

.cl-double-left:before {
  content: "\e64a";
}

.cl-tips:before {
  content: "\e64b";
}

.cl-document-folder:before {
  content: "\e64c";
}

.cl-double-right:before {
  content: "\e64d";
}

.cl-word:before {
  content: "\e64e";
}

.cl-like:before {
  content: "\e64f";
}

.cl-folder-open:before {
  content: "\e650";
}

.cl-arrow-circle-down:before {
  content: "\e651";
}

.cl-setting-two:before {
  content: "\e652";
}

.cl-file-cabinet:before {
  content: "\e653";
}

.cl-me:before {
  content: "\e654";
}

.cl-avatar:before {
  content: "\e655";
}

.cl-folder-close:before {
  content: "\e656";
}

.cl-play-cycle:before {
  content: "\e657";
}

.cl-download-two:before {
  content: "\e658";
}

